.lhomePage {
   width: 100%;
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow-x: hidden;
   overflow-y: auto;
}

.sliderwrapper {
   width: 100%;
   height: 650px;
   display: flex;
   justify-content: center;
   @media (min-width:1700px) {
      height: 900px;
   }
   @media (max-width:992px) {
      flex-direction: column;
      height: 140vw;
   }
   @media (max-width:800px) {
      height: 150vw;
}
   @media (max-width:600px) {
      height: 180vw;
   }
   @media (max-width:400px) {
      height: 200vw;
   }
   @media (min-width:2000px) {
      height: 82vh;
   }
}





.slider {
   background: #F44336;
   flex: 1 0 300px;
   padding-right: 10px;
}

.sliderwrapperinputs {
   background: #2552A4;
   flex: 1 1 300px;
}

.sliderwrappertextholder {
   display: flex;
   margin-top: 20px;
}

.estimatebuttonholder {
   display: flex;
   padding-left: 20%;
   padding-bottom: 2%;
}


.estimatebutton {
   background: #FFFFFF;
   border-radius: 5px;
   padding: 5px 25px;
   cursor: pointer;
   @media (min-width:1700px) {
      padding: 2% 7%;
      margin-top: 1%;
   }
}


.estimatetext {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 29px;
   text-transform: capitalize;
   color: #000000;
   cursor: pointer;
   @media (min-width:1700px) {
      font-size: 1.2vw;
   }
}

.taglineholder {
   width: 100%;
}

.tagline1 {
   font-size: 3em;
   color: #ffffff;
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 700;
   padding: 0% 0% 0% 20%;
   content: "Lhome Make your home better";
   @media (min-width:1700px) {
      font-size: 3vw;
    margin-top: 5%;
   }
}

@media only screen and (max-width: 992px) {

   .sliderwrappertextholder {
      text-align: center;
      justify-content: center;
   }

   .sliderwrappertextholder {
      padding-left: unset;
   }

   .tagline1 {
      font-size: 6vw;
      width: 90%;
      padding-left: unset;
   }

   .estimatebuttonholder {
      padding-top: 20px;
      padding-left: 0;
      justify-content: center;
   }

   .designermeetholder {
      width: 100vw !important;
      padding-right: 10%;
   }
}

@media (max-width:775px) {
   .designermeetholder {
      padding-right: 1%;
      padding-bottom: 4%;
   }
}

.designermeetholder {
   width: 35vw;
   margin: 0 auto;
   margin-top: 4%;
   @media (max-width:1400px) and (min-width:992px) {
      margin-top: 7%;
      width: 40vw;
      margin-left: 13%; 
   }
   @media (max-width:992px) and (min-width:768px) {
      margin-bottom: 4%;
   }
   @media (min-width:1700px) {
      margin-top: 10%;
   }
   @media (min-width:2000px) {
      margin-top: 2.5%;
   }
}