.customDotListStyle {
  /* styles for the dot container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 20%;
  /* example spacing */
}

.toppickstitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  color: #222222;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  @media (min-width:2000px) {
    font-size: 1.5vw;
  }
}
.container div[dir="ltr"]{
  position: unset !important;
}

.react-multi-carousel-arrow {
  /* General styles for both arrows */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customDotListStyle {
  margin-top: 20px;
  // margin-left: 45px;

}

.centeredImage {
  transform: scale(1.20);
  transition: transform 1.0s;
}

.activeOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent black */
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.centeredImage {
  transform: scale(1.20);
  transition: transform 1.0s;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.activeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  opacity: 0;
  animation: fadeInMove 2s forwards;
}


.activeText h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2552A4;
  font-size: 2vw;
  @media (max-width:1000px){
    font-size: 24px;
  }
}

.customRArrowStyle {
  margin-left: 200px;
  text-align: center;
  margin-top: 320px;
}

.activeText label {
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
  color: #737373;
  font-weight: 500;
  @media (max-width:1000px){
    font-size: 14px;
  }
}

.activeText p {
  font-size: 0.8vw;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  color: #B7B7B7;
  @media (max-width:1000px){
    font-size: 10px;
  }
}

.customRArrowStyle {
  margin-left: 200px;
  text-align: center;
  margin-top: 320px;
}

.customRArrowStyle i {
  font-size: 2vw;
  font-weight: bolder;
  @media (max-width:1024px) {
    font-size: 24px;
  }
}

.bottomcarousel {
  margin-bottom: 7%;
  margin-top: 2%;
}

.bottomcarousel div>button {
  background-color: transparent;
  color: black;
  font-weight: bolder;
  font-size: 2vw;
  @media (max-width:1024px) {
    font-size: 24px;
  }

}
.customRArrowStyle{
  position: absolute;
  right: 33%;
  bottom: -3%;

}
.customLArrowStyle{
  position: absolute;
  left: 33%;
  bottom: -3%;

}


// @media screen and (max-width:2000px)  and (min-width:1400px){
//   .bottomcarousel div>button {
//     // left: 42%;
//     top: 14%
//   }
// }

// @media screen and (max-width:1400px) and (min-width:1300px) {
//   .bottomcarousel div>button {
//     // left: 39%;
//     top: 4.5%
//   }
// }

// @media screen and (max-width:1300px) and (min-width:1200px) {
//   .bottomcarousel div>button {
//     // left: 39%;
//     top: 4.5%
//   }
// }


// @media screen and (max-width:1200px) and (min-width:1100px){
//   .bottomcarousel div>button {
//     // left: 41%;
//     top: 4%
//   }
// }

// @media screen and (max-width:1100px)and (min-width:850px) {
//   .bottomcarousel div>button {
//     // left: 41%;
//     top: 4%
//   }
// }

// @media screen and (max-width:850px) and (min-width:700px) {
//   .bottomcarousel div>button {
//     // left: 0%;
//     top: 0%;
//   }

//   .customDotListStyle{
//     margin-top: 10%;
//   }
//   .activeText {
//     display: none;
//   }

//   .toppickstitle {
//     text-align: center;
//   }
// }

// @media screen and (max-width:700px) and (min-width:600px){
//   .bottomcarousel div>button {
//     // left: 30%;
//     top: -2%
//   }

//   .activeText {
//     display: none;
//   }

//   .toppickstitle {
//     text-align: center;
//   }
// }

/* For the left arrow */
.react-multiple-carousel__arrow--left {
  left: 0; /* position it to the extreme left */
  top: 50%; /* center it vertically */
  transform: translateY(-50%); /* adjust for its own height */
  /* ... other styles as needed ... */
}

/* For the right arrow */
.react-multiple-carousel__arrow--right {
  right: 0; /* position it to the extreme right */
  top: 50%; /* center it vertically */
  transform: translateY(-50%); /* adjust for its own height */
  /* ... other styles as needed ... */
}


@media screen and (max-width:600px) and (min-width:580px) {

  .toppickstitle {
    text-align: center;
  }
}

@media screen and (max-width:580px) and (min-width:450px){
  // .bottomcarousel div>button {
  //   left: 30%;
  //   top: 19%;
  // }

  .toppickstitle {
    text-align: center;
  }
}

@media screen and (max-width:450px) {
  .bottomcarousel div>button {
    left: 2%;
    bottom: -4%;
    width: 40%;
  }

  .toppickstitle {
    text-align: center;
  }
}


.reactMultiCarouselList {
  margin-bottom: 30px;
}

.bottomcarousel div>button:hover {
  background-color: transparent;
}

.maskgroupimage {
  position: relative;
  width: 85%;
  margin: auto;
}

.playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 30px;
}
.active_dot {
  width: 1vw;
  height: 1vw;
  background-color: #B7B7B7;
  border-radius: 50%;
  margin: 2%;
  @media (max-width:1000px){
    width: 10px;
    height: 10px;
  }
}
.inactive_dot {
  width: 1vw;
  height: 1vw;
  background-color: #F5F5F5;
  border-radius: 50%;
  margin: 2%;
  @media (max-width:1000px){
    width: 10px;
    height: 10px;
  }
}