.homeofficeimageContainer {
  position: relative;
}

.homeofficeimage {
  width: 100%;
  @media (max-width:576px) {
    height: 75vw;
  }
}

.homeoffice_tagline {
  font-family: "Montserrat";
  color: #FFFFFF;
  font-weight: 100 !important;
  font-size: 3.5em;
}

.homeoffice_tagline1 {
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 3.5em;
  line-height: 100%;
}

.homeofficebanercontent {
  position: absolute;
  left: 58%;
  top: 25%;
  transform: translateY(-50%);
}

.homeofficebanerform {
  position: absolute;
  right:5%;
  top: 45%;
  width: 35vw;
}

@media(min-width:2000px) {
  .homeoffice_tagline {
    font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .homeoffice_tagline1 {
    font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .homeofficebanercontent {
    top: 30%;
    left: 66%;
  }

  .homeofficebanerform {
    top: 52%;
    width: 32vw;
  }
}

@media only screen and (max-width:2000px) and (min-width:1600px) {
  .homeoffice_tagline {
    font-size: 3.5em;
  }

  .homeoffice_tagline1 {
    font-size: 3.5em;
  }

  .homeofficebanercontent {
    top: 25%;
    left: 63%;
  }
}

@media only screen and (max-width:1600px) and (min-width:1300px) {
  .homeoffice_tagline {
    font-size: 3.5em;
  }

  .homeoffice_tagline1 {
    font-size: 3.5em;
  }

  .homeofficebanercontent {
    top: 22%;
    left: 61%;
  }
  .homeofficebanerform {
    top: 44%;
    width: 38vw;
    }
}

@media only screen and (max-width:1300px) and (min-width:1000px) {
  .homeoffice_tagline {
    font-size: 2.5em;
  }

  .homeoffice_tagline1 {
    font-weight: 500;
    font-size: 2.5em;

  }

  .homeofficebanercontent {
    top: 15%;
    left: 61%;
  }

  .homeofficebanerform {
    top: 30%;
    width: 38vw;  }

}

@media only screen and (max-width:1000px) and (min-width:900px) {
  .homeoffice_tagline {
    font-size: 2em;
  }

  .homeoffice_tagline1 {
    font-weight: 400;
    font-size: 2em;
  }

  .homeofficebanercontent {
    white-space: nowrap;
}

  .homeofficebanerform {
    top: 25%;
  }
}

@media (max-width:775px) {
  .homeofficebanerform {
    padding-right: 3% !important;
  }  
}

@media (max-width:1000px) {
  .homeofficebanerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
    padding-top: 5%;
    padding-right: 12%;
    width: unset;
  }

  .homeoffice_tagline {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 100 !important;
    font-size: 3em;
  }

  .homeoffice_tagline1 {
    font-weight: 400;
    font-size: 3em;
  }

  .homeofficebanercontent {
    top: 15%;
    left: unset;
    right: 10%;
  }
  .homeofficebanerform {
    right:0%;
}
}

@media only screen and (max-width:600px) and (min-width:350px) {
  .homeofficebanerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
  }

  .homeoffice_tagline {
    font-size: 1.75em;
  }

  .homeoffice_tagline1 {
    font-weight: 400;
    font-size: 1.75em;
  }
  .homeofficebanercontent {
    top: 15%;

  }
  .homeofficebanerform {
    right:0%;
}
}
