# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/


/dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# public folder images
public/assets/Bathroom/
public/assets/Bedroom/
public/assets/bottomcarousel/
public/assets/fonts/
public/assets/guranted/
public/assets/homeOffice/
public/assets/icons/
public/assets/images/
public/assets/inerior/
public/assets/IslandtypeKitchen/
public/assets/Joinus/
public/assets/listingimages/
public/assets/LivingRoom/
public/assets/LshapedKitchen/
public/assets/LshapedWardrope/
public/assets/modular/
public/assets/modularkitchen/
public/assets/modularKitchenpage/
public/assets/partnership/
public/assets/referandearn/
public/assets/sliderimages/
public/assets/Spacefurniture/
public/assets/SpaceSvingFurniture/
public/assets/Straightshapedwardrope/
public/assets/StraighttypeKitchen/
public/assets/StylishHomeProducts/
public/assets/SVGIcons/
public/assets/Tabimage/
public/assets/UshapedWardrope/
public/assets/UtypeKitchen/
public/assets/visitus/
public/assets/wardrobe/