.unlockartistryimageContainer {
  position: relative;
}

.unlockartistryimage {
  width: 100%;

  @media (max-width:576px) {
    height: 75vw;
  }
}

.unlockartistry_tagline {
  color: #FFFFFF;
  // font-weight: 500;
  font-family: "Montserrat";
  font-size: 2.8em;
  line-height: 100%;
  // text-align: justify; text-align-last: center;
}

.unlockartistry_tagline1 {
  color: #FFFFFF;
  // font-weight: 500;
  font-family: "Montserrat";
  font-size: 2.8em;
  line-height: 100%;
  // text-align: center;
}
.unlockartistrybannercontent{
  position: absolute;
  text-align: justify; 
  text-align-last: center;
  left: 35%;
  // top:700px;
  // transform: translateY(-50%);

}
.unlockartistrybannercontent button{
  left: 30%;
}

.bannerbtn {
  background: #F44336;
  position: "absolute";
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 20px;
  left: 300px;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 15px 25px;
  @media (max-width:2000px){
    font-size: 14px;
    padding: 5px 15px;
  }
}

@media(min-width:2000px) {
  .unlockartistry_tagline {
    // font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .unlockartistry_tagline1 {
    // font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .unlockartistrybannercontent {
    // top: 30%;
    left: 67%;
  }

  
}

@media only screen and (max-width:2000px) and (min-width:1600px) {
  .unlockartistry_tagline {
    // font-size: 3.5em;
  }

  .unlockartistry_tagline1 {
    // font-size: 3.5em;
  }

  .unlockartistrybannercontent {
    // top: 75%;
    left: 30%;
  }
}

@media only screen and (max-width:1600px) and (min-width:1200px) {
  .unlockartistry_tagline {
    // font-size: 3.5em;
  }

  .unlockartistry_tagline1 {
    // font-size: 3.5em;
  }

  .unlockartistrybannercontent {
    top: 35%;
  }
 
}


@media only screen and (max-width:1200px) and (min-width:1000px) {
  .unlockartistry_tagline {
    // font-size: 2.5em;
  }

  .unlockartistry_tagline1 {
    // font-weight: 500;
    // font-size: 2.5em;

  }

  .unlockartistrybannercontent {
    // top: 20%;
    left: 54%;
  }

  

}

@media only screen and (max-width:1000px) and (min-width:900px) {
  .unlockartistry_tagline {
    // font-size: 2em;
  }

  .unlockartistry_tagline1 {
    // font-weight: 400;
    // font-size: 2em;
  }

  .unlockartistrybannercontent {
    white-space: nowrap;
}

  
}



@media (max-width:1000px) {
  
  .unlockartistry_tagline {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 100 !important;
    // font-size: 3em;
  }

  .unlockartistry_tagline1 {
    // font-weight: 400;
    // font-size: 3em;
  }

  .unlockartistrybannercontent {
    // top: 15%;
    left: unset;
    right: 10%;
  }
  
}

@media only screen and (max-width:600px) and (min-width:350px) {
  

  .unlockartistry_tagline {
    // font-size: 1.75em;
  }

  .unlockartistry_tagline1 {
    // font-weight: 400;
    // font-size: 1.75em;
  }
  .unlockartistrybannercontent {
    // top: 15%;
  }
  
}

