.referNow {
    background: #4D6797;
    padding: 6% 6%;
}

.division{
    width: 50%;
}

.refermanmaintext1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: #fff;
    white-space: nowrap;
    text-align: left;
}

.refermansubtext1{
    width: 45%;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    line-height: 16px;
    margin-top: 20px;
}

.referNowOuter {
    display: flex;
    align-items: center;

}

.refermanmaintext {
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 55px;
    line-height: 22px;
    color: #fff;
    white-space: nowrap;
    text-align: left;
}
.refermanmaintext2{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 45px;
    line-height: 16px;
    color: #fff;
    white-space: nowrap;
    font-weight: 600;
}

.referNow1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D6797;
    padding: 6% 6%;
}
.refermansubtext {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9vw;
    color: #fff;
    text-align: left;
    width: 80%;
}

.refermanbuttonholder{
    width: 50%;
    text-align: end
}

.refermanbuttonholder button {
    font-family: Montserrat;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    color: #fff;
    // padding: 12px 20px;
    /* margin-top: 10px; */
    background: #f44336;
    font-size: 25px;
    white-space: nowrap;
    padding: 3% 10%;
}

.referman {
    width: 35%;
}

@media only screen and (min-width:320px) and (max-width: 724px) {
    .referNowOuter {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
@media only screen and (min-width:400px) and (max-width:500px)  {
    .referNowOuter {
        flex-direction: column;
    }
    .refermansubtext{
        font-size: 1rem;
    }
    .division{
        width: 90%;
    }
}
@media only screen and (min-width:500px) and (max-width:1000px)  {
    .referNowOuter {
        flex-direction: column;
    }
    .refermanmaintext{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .division{
        width: 90%;
    }
    .refermansubtext{
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;
    color: #fff;
    width: 100%;
}

    .refermanbuttonholder{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:400px) {
    .refermansubtext {
        font-size: 10px !important;
    padding: 15px 0;
    }
    .refermanmaintext{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    .referNowOuter{
        flex-direction: column;
    }
    .refermanbuttonholder{
        display: flex;
        justify-content: center;
    }
    .refermanbuttonholder button {
    font-family: Montserrat;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    color: #fff;
    /* margin-top: 10px; */
    background: #f44336;
    font-size: 21px;
    white-space: nowrap;
    padding: 8% 10%;
    }
    .division{
        width: 90%;
    }

}