
.visitus_bgclr {
   background-color: #2552A4;
   border-radius: 30px;
   
}
  .filter_home{
   text-align: center;
  }
.visitus_filter_link{
font-family: "Montserrat";
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color:#FFFFFF;
text-decoration: none;
}
  .visitus_filter_slash{
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color:#FFFFFF;
  text-decoration: none;
  }
  .visitus_filter_header_content{
   font-family: "Montserrat";
   font-size: 32px;
   font-weight: 700;
   line-height: 39px;
   letter-spacing: 0em;
   text-align: center;
   color:#FFFFFF;

   
  }
  .visitus_filter_additional_content{
   // font-family: "Montserrat";
   font-size: 16px;
   font-weight: 200;
   line-height: 19.5px;
   letter-spacing: 0em;
   text-align: left;
   color:#FFFFFF;
   padding-bottom: 2%;

  }
  @media (min-width:3000px) {
    .visitus_filter_link {
      font-size: 22px;
      line-height: 30px;
    }
  
    .visitus_filter_slash {
      font-size: 22px;
    }
  
    .visitus_filter_header_content {
      font-size: 52px;
      line-height: 69px;
    }
  
    
      .visitus_filter_additional_content {
      font-size: 32px;
      line-height: 42px;
    }
  
  }
  @media screen and (max-width:3000px) and (min-width:2000px) {
    .visitus_filter_link {
      font-size: 18px;
      line-height: 28px;
    }
  
    .visitus_filter_slash {
      font-size: 18px;
    }
  
    .visitus_filter_header_content {
      font-size: 42px;
      line-height: 49px;
    }
  
    .visitus_filter_additional_content {
      font-size: 22px;
      line-height: 28px;
    }
  
    
  }
  