.referform2_title_content {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #222222;
}
.referform2_div {
  margin: 0 auto;
}
.referearnform2_button {
  margin: 40px;
}
.referearnform2_button_content {
  width: 350px;
  height: 56px;
  border-radius: 8px;
  background-color: #F44336;
}
.referearnform2_button_text {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 600;
  margin-top: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}