.referearn_bg {
  width: 450px;
  background: #FFFFFF;
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
}

.togglechnage {
  width: 75%;
  margin: 0 auto;
}

.referform_button_content {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  top: 50px;
}