.referearnform_label{
font-family: "Montserrat";
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
margin-left: 40px;
margin-top: 20px;
color:#222222;
}
.referearnform_input{
 width: 350px;
 height: 50px;
 margin-left: 40px;
 margin-top: 20px;
 border-radius: 10px;
border:1px solid #B7B7B7;
background-color: #fff !important;
}
.referearnform_button{
margin-top: 20px;
margin-left: 40px;
}
.referearnform_button_content{
  width: 350px;
  height: 56px;
  border-radius: 8px;
  background-color: #F44336;
}
.referearnform_button_text{
font-family: "Montserrat";
font-size: 22px;
font-weight: 600;
margin-top: 12px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}
.referearnform_additional_content1{
  margin-top: 10px;
  text-align: center;
}
.referearnform_additional_content2{
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
color:#222222;
}
.input_field{
  position: relative;
}
.referearnform_copy_button{
  color: #F44336;
  border: none;
  background-color: transparent !important;
  position: absolute;
  right: 15%;
  top: 65%;
  transform: translateY(-50%);
  font-weight: 600;
}
.copied{
  color: #355E3B;
  border: none;
  background-color: transparent !important;
  position: absolute;
  right: 15%;
  top: 65%;
  transform: translateY(-50%);
  font-weight: 600;
}
.referearn_socialicon{
margin:0 auto;
}
.socialMedia {
  display: flex;
  justify-content: center;
}
.socialMedia_icons{
  background-color: #222222;
  color: #fff;
  border-radius: 50%;
  margin-right: 2%;
  padding: 1.5%;
  font-size: 1.2vw;
  @media (max-width:1024px){
     font-size: 12px;
  }
}