.partnerContainer{
    background-color: #FFE175;
}
.partnerRow{
    display: flex;
}
.partnerLeft{
    width: 50%;
    position: relative;
}
.partnerRight{
    width: 50%;
}
.partnertop{
    color: #222222;
    font-family:"Montserrat";
    font-weight:700;
    font-size: 2.8vw;
    width: 100%;
    line-height: 4vw;
    padding: 70px 0px 0px 100px;
    @media (max-width:1024px){
        line-height: 68.26px; 
        font-size: 35px;
    }
}
.partnerbottom{
    color: #FFFFFF;
    background-color: #2552A4;
    margin-left: 10px;
}
.partnerImg{
    width: 90%;
    height: 90vh;
    margin:40px 0 0;
}
.partnerForm{
    position: absolute;
    left: 25px;
    top: 60%;
    transform: translateY(-50%);
    color: white;
}
@media only screen and (min-width:320px) and (max-width: 724px){
    .partnerRow{
        display: block;
    }
    .partnerLeft, .partnerRight{
        width: 100%;
    }
    .partnertop{
        padding: 20px 0px 0px 40px;
    }
    .partnerImg{
        width: 100%;
        height: 100%;
    }
    .partnerForm{
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        padding: 20px;
    }
}
@media only screen and (min-width:724px) and (max-width: 1024px){
    .partnertop{
        padding: 20px 0px 0px 20px;
    }
    .partnerForm{
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        padding: 20px;
    }
}
@media only screen and (min-width:1330px) and (max-width: 1920px){
    .partnertop{
        padding: 70px 0px 0px 110px;
    }
}