.wardrobeimageContainer {
  position: relative;
}

.wardrobeimage {
  width: 100%;
  @media (max-width:576px) {
    height: 75vw;
  }
}

.wardrobe_tagline {
  font-family: "Montserrat";
  color: #FFFFFF;
  font-weight: 100 !important;
  font-size: 4em;
}

.wardrobe_tagline1 {

  width: 60%;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 4em;
  line-height: 100%;
}

.wardrobebanercontent {
  position: absolute;
  left: 10%;
  top: 25%;
  transform: translateY(-50%);
}

.wardrobebanerform {
  position: absolute;
  left: 4%;
  top: 52%;
  width: 35vw;
}

@media(min-width:2000px) {
  .wardrobe_tagline {
    font-size: 2.8vw;
    line-height: 3vw;
  }

  .wardrobe_tagline1 {
    font-size: 2.8vw;
    line-height: 3vw;
  }

  .wardrobebanercontent {
    left: 8%;
    top: 32%;
  }

  .wardrobebanerform {
    left: 5.5%;
    width: 32vw;
  }
}

@media only screen and (max-width:2000px) and (min-width:1600px) {
  .wardrobe_tagline {
    font-size: 3.5em;
  }

  .wardrobe_tagline1 {
    font-size: 3.5em;
  }

  .wardrobebanercontent {
    left: 7%;
    top: 32%;
  }
}

@media only screen and (max-width:1600px) and (min-width:1200px) {
  .wardrobe_tagline {
    font-size: 3em;
  }

  .wardrobe_tagline1 {
    font-size: 3em;
  }

  .wardrobebanercontent {
    left: 6%;
    top: 20%;
  }
  .wardrobebanerform{
    position: absolute;
    left: 3%;
    top: 39%;
    width: 38vw;
  }
}

@media only screen and (max-width:1200px) and (min-width:1000px) {
  .wardrobe_tagline {
    font-size: 2.25em;
  }

  .wardrobe_tagline1 {
    font-weight: 500;
    font-size: 2.25em;

  }

  .wardrobebanercontent {
    left: 10%;
    top: 13%;
  }

  .wardrobebanerform {
    left: 6%;
    top: 30%;
    width: 42vw;
  }

}

@media (max-width: 775px) {
  .wardrobebanerform {
    padding-right: 4% !important;
  }
}

@media (max-width: 1000px) {
  .wardrobebanerform {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #2552A4;
    padding-top: 5%;
    padding-right: 12%;
    width: 100vw;
  }


  .wardrobe_tagline {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 100 !important;
    font-size: 3em;
  }

  .wardrobe_tagline1 {
    font-weight: 400;
    font-size: 3em;
  }

  .wardrobebanercontent {
    left: 10%;
    top: 15%;
  }
}

@media only screen and (max-width:600px){
  .wardrobe_tagline {
    font-size: 1.75em;
  }

  .wardrobe_tagline1 {
    font-weight: 400;
    font-size: 1.75em;
  }
  .wardrobebanercontent {
    left: 10%;
    top: 15%;

  }
}