.furnitureimageContainer {
  position: relative;
}

.furnitureimage {
  width: 100%;
  @media (max-width:576px) {
    height: 75vw;
  }
}

.furniture_tagline {
  font-family: "Montserrat";
  color: #FFFFFF;
  font-weight: 100 !important;
  font-size: 3.5em;
}

.furniture_tagline1 {
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 3.5em;
  line-height: 100%;
}

.furniturebannercontent {
  position: absolute;
  left: 58%;
  top: 25%;
  transform: translateY(-50%);
}

.furniturebannerform {
  position: absolute;
  right:5%;
  top: 45%;
  width: 34vw;
}

@media (min-width:2000px) {
  .furniture_tagline {
    font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .furniture_tagline1 {
    font-size: 2.8vw;
    line-height: 3.3vw;
  }

  .furniturebannercontent {
    top: 31%;
    left: 66.5%;
  }

  .furniturebannerform {
    top: 55%;
    width: 32vw;
  }
}

@media only screen and (max-width:2000px) and (min-width:1600px) {
  .furniture_tagline {
    font-size: 3.5em;
  }

  .furniture_tagline1 {
    font-size: 3.5em;
  }

  .furniturebannercontent {
    top: 25%;
    left: 64%;
  }
}

@media only screen and (max-width:1600px) and (min-width:1200px) {
  .furniture_tagline {
    font-size: 3.5em;
  }

  .furniture_tagline1 {
    font-size: 3.5em;
  }

  .furniturebannercontent {
    top: 19%;
    left: 61%;
 }
 .furniturebannerform {
  top: 38%;
  width: 38vw;
  }
}

@media only screen and (max-width:1200px) and (min-width:1000px) {
  .furniture_tagline {
    font-size: 2.5em;
  }

  .furniture_tagline1 {
    font-weight: 500;
    font-size: 2.5em;

  }

  .furniturebannercontent {
    top: 15%;
    left: 61%;
  }

  .furniturebannerform {
    top: 30%;
    width: 38vw;
  }

}

@media only screen and (max-width:1000px) and (min-width:900px) {
  .furniture_tagline {
    font-size: 2em;
  }

  .furniture_tagline1 {
    font-weight: 400;
    font-size: 2em;
  }

  .furniturebannercontent {
    white-space: nowrap;
}

  .furniturebannerform {
    top: 25%;
  }
}

@media (max-width:775px) {
  .furniturebannerform {
    padding-right: 3% !important;
  }  
}

@media (max-width:1000px) {
  .furniturebannerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
    padding-top: 5%;
    padding-right: 11%;
    width: unset;
  }

  .furniture_tagline {
    font-family: "Montserrat";
    color: #FFFFFF;
    font-weight: 100 !important;
    font-size: 3em;
  }

  .furniture_tagline1 {
    font-weight: 400;
    font-size: 3em;
  }

  .furniturebannercontent {
    top: 15%;
    left: unset;
    right: 10%;
  }
  .furniturebannerform {
    right:0%;
}
}

@media only screen and (max-width:600px) and (min-width:350px) {
  .furniturebannerform {
    position: relative;
    top: 0;
    transform: none;
    padding: 20px;
    background-color: #EF5350;
  }

  .furniture_tagline {
    font-size: 1.75em;
  }

  .furniture_tagline1 {
    font-weight: 400;
    font-size: 1.75em;
  }
  .furniturebannercontent {
    top: 15%;

  }
  .furniturebannerform {
    right:0%; 
}
}

