
.referNow {
    background: #4D6797;
}

.referNowOuter {
    margin: 0 auto;
    display: flex;
    width: 70%;
    align-items: center;                                
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    @media screen and (max-width:600px){
        width: 100%;
        justify-content: flex-start;
    }
}

.refermanmaintext {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #fff;
    @media screen and (max-width:600px){
        font-size: 13px; 
    }
    @media screen and  (min-width:601px) and (max-width:1000px){
        font-size: 20px; 
    }
    @media (min-width:2000px) {
        font-size: 1.5vw;
        line-height: 2vw;
    }
}

.refermansubtext {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 180;
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
    color: #fff;
    @media screen and (max-width:600px){
        font-size: 8px; 
        line-height: 10px;
    }
    @media screen and (min-width:601px) and (max-width:1000px){
        font-size: 12px; 
    }
    @media (min-width:2000px) {
        font-size: 0.7vw;
        line-height: 1vw;
    }
}

.refermanbuttonholder button{
    border-radius: 6px; 
    font-style: normal;
    font-weight: 700;               
    line-height: 8px;
    color: #fff;
    padding: 12px 44px;
    margin-top: 10px;
    background: #f44336;
    font-size: 12px;
    @media screen and (max-width:600px){
        padding: 12px 40px;
        font-size: 8px;
    }
    @media (min-width:2000px) {
        font-size: 0.7vw;
        padding: 3% 10%;
        margin-top: 3%;
    }
}

.referman {
  width: 35%;
  margin-right: -8%;
  @media screen and (max-width:600px){
    margin-right: -14%;
  }

}

@media only screen and (min-width:320px) and (max-width: 724px){
    .referNowOuter {
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 100px;
        margin-left: -20px;
    }
    .referman {
        width: 65%;
    }
}

