.termsandcondition{
 padding-left: 10%;
 padding-right: 10%;
}


.termcom_title{
font-family: 'Montserrat';
font-size: 22px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #2552A4;
// padding:10px;
}
.termcon_content{
font-family: 'Montserrat';
font-size: 12px;
font-weight: 500;
letter-spacing: 0em;
text-align: left;
color: #222222;
// padding: 10px;
}
@media (min-width:3500px) {
    .termcom_title{
        font-size: 42px;
        line-height: 42px;
       }
        .termcon_content{
        font-size: 32px;
        line-height: 42px;
    }
  
  }
  
  @media only screen and (max-width:3500px) and (min-width:3000px) {
  
    .termcom_title{
        font-size: 42px;
        line-height: 47px;
       }
        .termcon_content{
        font-size: 25px;
        line-height: 47px;
    }
  }
  
  @media only screen and (max-width:3000px) and (min-width:2500px) {
    .termcom_title{
        font-size: 42px;
        line-height: 47px;
       }
        .termcon_content{
        font-size: 20px;
        line-height: 40px;
    }
  }
  
  @media only screen and (max-width:2500px) and (min-width:1800px) {
    .termcom_title{
        font-size: 42px;
        line-height: 47px;
       }
        .termcon_content{
        font-size: 16px;
        line-height: 36px;
    }
  }