.ToppicsdivforDesignGallery{
    background-color: #f5f5f5;
    border-radius: 20px;
    margin: 2%;
 }
 .lhomePage{
    width:100%;
    margin:0;
    padding:0;
    height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
 }
 .LhomeBottom{
    height: 90vh;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
 }
 .LhomeBottom1{
  height: 100vh;        
  position: absolute;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden !important;
}
 .filter_home1 {
  font-family:"Montserrat";
    padding-top: 20px;
   text-align: center;
 }
 .filter_home1>span , .filter_home1>span>a{
  font-family:"Montserrat";
  font-size: 16px;
  color: #B7B7B7;
  text-decoration: none;
} 
 .filter_header_content {
  font-family:"Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
   text-align: center;
   color: black;
   padding: 1% 0;
 }
 .filter_header_content1 {
  font-family:"Montserrat";
  font-size: 32px;
   line-height: 1.25em;
   font-weight: 700;
   text-align: center;
   color: black;
   margin-top: 3%;  
 }
 
 .filter_content {
  font-family:"Montserrat";
  display: flex;
  justify-content: center;
   color: #737373;
   font-size: 16px;
   line-height: 1em;
   text-align: center;
   font-weight: 400;
 }
 .filter_content1 {
  font-family:"Montserrat";
   color: #737373;
   font-size: 16px;
   line-height: 1.25em;
   text-align: center;
   margin-bottom: 2%;
 }

 .Shaped {
   display: flex;
   justify-content: center;
   color: #FFD600;
   font-family: 'Montserrat';
   font-weight: 500;
   line-height: 29px;
   letter-spacing: 0em;
   cursor: pointer;
 }
 .shape_content{
   padding-left:5px;
 }
 .shaped_slash{
   padding-left: 5px;
 }
 
 @media (max-width:576px) {
  .filter_home1>span , .filter_home1>span>a{
  font-size: 0.8em;
  }
  .filter_header_content {
  font-size: 2em;
  }
  .filter_content {
    font-size: 0.8em;
  }
  .filter_header_content1 {
  font-size: 1.75em;
  }
  .filter_content1 {
  font-size: 0.7em;
  }
 }