.lhomePage{
   width:100%;
   margin:0;
   padding:0;
   height:100vh;
   overflow-x:hidden;
   overflow-y:auto;
}

.LhomeBottom{
   height: 90vh;        
   position: absolute;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden !important;
}

.LhomeBottom1{
   height: 100vh;        
   position: absolute;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden !important;
}

.zigzag_heading{
   text-align: center;
   color: #222;
   font-family: 'Montserrat';
   font-weight: 600;
   margin-top: 50px;
   @media (min-width:2000px) {
      font-size: 1.5vw;
      line-height: 2vw;
      margin-top: 3%;
   }
}
.addMarginForMobile{
   @media (max-width:600px) {
      margin: 2rem 0;
   }
}
